.main-index{
  padding-top: 82px;
  display: block;
  margin: auto;
  width: 1120px;
  box-shadow: 0px 0px 10px 2px rgba(128, 126, 126, 0.73);
}
.front-sign{
  margin-right: 5px;
  height: 25px;
  width: 4px;
  background-color: red;
}
a{
  color: rgb(0, 0, 0);
}
a:hover{
  color: rgba(0, 0, 0, 0.54);
}
a h3{
  margin-top: 0px;
}
.slider-page{
  margin: auto;
  background-color: #eee;
  width: 1120px;
  height: 400px;
}
.slider{
  margin: auto;
  width: inherit;
  height: inherit;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide img{
  width: inherit;
  height: inherit;
}
.co-brif-intro{
  margin: auto;
  /* background-color: #bfa4a4; */
  width: 1120px;
  height: 250px;
}
.bofarer-service{
  margin: auto;
  padding-top: 25px;
  width: 1000px;
  height: 200px;
  border-bottom: 1px  rgb(210, 215, 211) solid;
  /* background-color: yellow; */
  background-image:url(../images/background/Bofarer_China.jpg);
  background-size: cover;
}
.bofarer-service-intro{
  width: 70%;
  height: 130px;;
}
.news{
  display: inline-block;
  margin: auto;
  width: 100%;
}
.bofarer-news{
  display: inline-block;
  margin: auto;
  width: 1120px;
  height: 100%;
}
.important-things{
  display: block;
  width: 400px;
  padding-right: 40px;
}
.recent-news{
  display: block;
  width: 670px;
}
.new-news{
  display: block;
  margin: auto;
  width: 550px;
  border-right: 1px rgb(194, 194, 194) solid;
}
.new-news div ul li{
  margin-bottom: 5px;
}
.new-importants{
  display: block;
  margin: auto;
  width: 300;
}
.new-importants div ul li{
  margin-bottom: 5px;
}
.recruit{
  margin: auto;
  width: 100%;
  height: 350px;
}
.bofarer-recruit{
  margin: auto;
  padding-top: 25px;
  width: 1000px;
  height: 300px;
  border-top: 1px  rgb(210, 215, 211) solid;
}
.top-recurit{
  margin-right: 20px;
  background-color: rgb(237, 233, 228);
  width: 310px;
  height: 200px;
  border-radius: 4px;
}
.medi-recurit{
  margin-right: 20px;
  background-color: rgb(237, 233, 228);
  width: 310px;
  height: 200px;
  border-radius: 4px;
}
.base-recurit{
  background-color: rgb(237, 233, 228);
  width: 330px;
  height: 200px;
  border-radius: 4px;
}
.top-recurit-details{
  margin: auto;
  margin-top: 10px;
  width: 280px;
  height: 180px;
}
.medi-recurit-details{
  margin: auto;
  margin-top: 10px;
  width: 280px;
  height: 180px;
}
.base-recurit-details{
  margin: auto;
  margin-top: 10px;
  width: 280px;
  height: 180px;
}
.bofarer-recruit h5{
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Helvetica, Tahoma, Arial;
}
.recruit-list{
  list-style: none;
  padding-left: 5px;
}
.recruit-list li::before{
  content: url(../images/list_fro.png);
}
.right-nav{
  width: 50px;
  height: 50px;
  position: fixed;
  top:520px;
  background-color: rgb(232, 23, 75);
}
